<div class="bs-callout bs-callout-info">
  <a id="google-preview" class="google-preview-link" style="display:none;" data="<%= search_item %>">
    <%= image_pack_tag('media/psulib_blacklight/images/gbs_preview_button1.gif',
                       alt: 'Google Books Preview Link') %>
  </a>
</div>
