<div class="bs-callout bs-callout-info" id="google-preview" style="display:none;" data-search-item="<%= search_item %>">
  <a class="google-preview-link">
    <%= image_pack_tag('media/psulib_blacklight/images/gbs_preview_button1.gif',
                       alt: 'Google Books Preview Link') %>
  </a>
</div>
