<% if links.dig(:hathitrust) -%>
  <div class="bs-callout bs-callout-warning">
    <p>
      <%= link_to(image_pack_tag('media/psulib_blacklight/images/128px-HathiTrust_logo.svg.png',
                                 alt: 'HathiTrust logo',
                                 class: 'mr-3 d-none d-md-inline') + links[:text], links[:url]) %>
    </p>
  </div>
<% else %>
  <div class="bs-callout bs-callout-info">
    <p>
      <%= link_to(image_pack_tag('media/psulib_blacklight/images/google_books_logo.png',
                                 alt: 'Google Books logo',
                                 class: 'mr-3 d-none d-md-inline') + links[:text], links[:url]) %>
    </p>
  </div>
<% end %>
