<div class="bs-callout bs-callout-warning row" id="hathi-link" style="display:none" data-search-item="<%= search_item %>">
  <a class='pl-3 row'>
    <%= image_pack_tag('static/psulib_blacklight/images/128px-HathiTrust_logo.svg.png',
                       alt: 'HathiTrust logo',
                       class: 'mr-3 d-none d-md-inline') %>
    <p class="pt-2 pl-1">Full Text available online</p>
  </a>
</div>
