<div class="bs-callout bs-callout-warning hathilink" style="display:none;" data-search-item="<%= search_item %>">
  <a>
    <h5 class="record-view-only" id="conveying-meaning-to-assistive-technologies">Full Text available online</h5>
    <%= image_pack_tag('static/psulib_blacklight/images/128px-HathiTrust_logo.svg.png',
                                 alt: 'HathiTrust logo',
                                 class: 'mr-3 d-none d-md-inline') %>
  </a>
</div>
