<div class="bs-callout bs-callout-warning row d-none" id="hathi-link" data-search-item="<%= search_item %>">
  <a>
    <%= image_pack_tag('static/psulib_blacklight/images/128px-HathiTrust_logo.svg.png',
                                alt: 'HathiTrust logo',
                                class: 'mr-3 d-none d-md-inline') %>
    <p class="float-right pt-2 pl-2">Full Text available online</p>
  </a>
</div>
