<div class="bs-callout bs-callout-warning row" id="hathi-link" style="display:none; padding:10px" data-search-item="<%= search_item %>">
  <a class='d-flex align-items-center'>
    <%= image_pack_tag('static/psulib_blacklight/images/Springshare-LibGuide-Image-100X100.png',
                       alt: 'HathiTrust logo',
                       class: 'me-3 d-none d-md-inline',
                       style: 'width: 10%;') %>
    <p class="pt-2 ps-1">Full Text available online</p>
  </a>
</div>
