---
http_interactions:
- request:
    method: get
    uri: https://sdws08.sirsidynix.net/psu_ilsws/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=2169033
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>2169033</titleID><TitleAvailabilityInfo><totalCopiesAvailable>4</totalCopiesAvailable><libraryWithAvailableCopies>Annex
        (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>ARKTHESES</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-ANNEX</libraryID><classificationID>ASIS</classificationID><callNumber>Microfilm
        C1177</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000050393299</itemID><itemTypeID>MICROFORM</itemTypeID><currentLocationID>CATO-PARK</currentLocationID><homeLocationID>CATO-PARK</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-ANNEX</libraryID><classificationID>ASIS</classificationID><callNumber>Thesis
        1957dWilli,EG pt.1</callNumber><numberOfCopies>3</numberOfCopies><ItemInfo><itemID>000052165108</itemID><itemTypeID>THESIS-D</itemTypeID><currentLocationID>ARKTHESES</currentLocationID><homeLocationID>ARKTHESES</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking><staffNote>{Archival}</staffNote></ItemInfo><ItemInfo><itemID>000008454935</itemID><itemTypeID>THESIS-D</itemTypeID><currentLocationID>DEPTCHARGE</currentLocationID><homeLocationID>CATO-2</homeLocationID><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>000014567513</itemID><itemTypeID>THESIS-D</itemTypeID><currentLocationID>CATO-2</currentLocationID><homeLocationID>CATO-2</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-ANNEX</libraryID><classificationID>ASIS</classificationID><callNumber>Thesis
        1957dWilli,EG pt.2</callNumber><numberOfCopies>3</numberOfCopies><ItemInfo><itemID>000014567582</itemID><itemTypeID>THESIS-D</itemTypeID><currentLocationID>DEPTCHARGE</currentLocationID><homeLocationID>CATO-2</homeLocationID><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking><publicNote>Pagination
        in this v.2 is off by 3 from original, i.e., p.129 in table of contents appears
        as p.132 in this copy.</publicNote></ItemInfo><ItemInfo><itemID>000052165115</itemID><itemTypeID>THESIS-D</itemTypeID><currentLocationID>ARKTHESES</currentLocationID><homeLocationID>ARKTHESES</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking><staffNote>{Archival}</staffNote></ItemInfo><ItemInfo><itemID>000008454942</itemID><itemTypeID>THESIS-D</itemTypeID><currentLocationID>DEPTCHARGE</currentLocationID><homeLocationID>CATO-2</homeLocationID><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Mon, 28 Nov 2022 15:59:57 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=OCLC:81776829&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {};
  recorded_at: Mon, 28 Nov 2022 16:00:00 GMT
recorded_with: VCR 6.1.0
