config/master.key

# Ignore bundler config.
/.bundle

# Ignore vendor/bundle files
vendor/bundle/**/*

# Ignore the SQLite database.
/blackcat_dev
/blackcat_test
/psulcat_dev
/psulcat_test

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep


.byebug_history

# Ignore junk
.DS*
._.DS*
*.sublime-*
.idea

# node/webpacker/yarn things
/node_modules
/yarn-error.log
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore spec/examples.txt file
spec/examples.txt

# testing output
coverage

# Ignore config gem files, the application's configuration should not be tracked.
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

.cache
.local
.pki
.webdrivers
