dist: xenial
language: ruby
rvm:
  - 2.5.3
bundler_args: --without development
sudo: false
cache:
  bundler: true
  yarn: true
  directories:
    - tmp/solr_dl/
env:
  global:
    - RAILS_ENV=test
    - CC_TEST_REPORTER_ID=46686d9a62483c1e5789ec9539ba5539b686e08c6de63095f9c174d2235e78c6
addons:
  chrome: stable

branches:
  only:
    - master

before_install:
  - nvm install
  - yes | gem update --system
  - gem install bundler
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - bundle exec rails docker:pull
  - bundle exec rails docker:run_ci
  - bundle exec rails docker:build
  - bundle exec rails assets:precompile

script:
  - bundle exec niftany
  - bundle exec rake
  - yarn lint
  - yarn test

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT