language: ruby
rvm:
- 2.5.3
bundler_args: --without development
sudo: false
cache:
  bundler: true
  yarn: true
  directories:
  - tmp/solr_dl/
jdk: oraclejdk9
env:
  global:
  - RAILS_ENV=test

before_script:
- bundle exec rails docker:pull
- bundle exec rails docker:run
- bundle exec rails docker:build
- docker ps -a
- bundle exec rails assets:precompile

script:
- bundle exec niftany
- bundle exec rake
