version: '3.5'
x-web_env: &web_env
  environment:
      CI: "true"
      SETTINGS__solr__username: catalog
      SETTINGS__solr__password: catalog
      SETTINGS__solr__host: solr
      SETTINGS__solr__collection: 'psul_catalog'
services:
  web:
    tty: true
    stdin_open: true
    <<: *web_env
    command: 
      - /app/bin/startup
    build: 
      context: . 
      target: dev
    volumes:
    - bundle-data:/app/vendor/bundle
    - node-data:/app/node_modules
    - type: bind
      source: ./
      target: /app/
    ports:
      - "${APP_PORT:-3000}:3000"
    depends_on:
      solr:
        condition: service_healthy
  solr:
    image: harbor.k8s.libraries.psu.edu/library/solr:9.5.0
    environment:
      SOLR_STOP_WAIT: 1
    restart: always
    volumes:
    - solr-data:/var/solr
    ports:
    - ${SOLR_PORT:-8983}:8983
    command: [
      "/bin/bash",
      "-c",
      "solr -c && solr auth enable -credentials catalog:catalog -z localhost:9983; solr stop && solr -c -f",
    ]
    healthcheck:
      test: [
        "CMD-SHELL",
        "curl -sf -u catalog:catalog http://localhost:8983/solr/admin/info/system | grep -q 'solr_home'"
      ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
volumes:
  bundle-data:
  node-data:
  solr-data:
