---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=123730
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>123730</titleID><TitleAvailabilityInfo><totalCopiesAvailable>2</totalCopiesAvailable><libraryWithAvailableCopies>Special
        Collections Library (UP)</libraryWithAvailableCopies><libraryWithAvailableCopies>Annex
        (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>SPC-CATOII</locationOfFirstAvailableItem><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-SPECCOL</libraryID><classificationID>LC</classificationID><callNumber>QL696.G27M94
        1968</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000007848988</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>SPC-CATOII</currentLocationID><homeLocationID>SPC-CATOII</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking><staffNote>{Duplicate
        - Do Not Annex per CSAG 5/10/2016}</staffNote></ItemInfo></CallInfo><CallInfo><libraryID>UP-ANNEX</libraryID><classificationID>ASIS</classificationID><callNumber>Thesis
        1968mMyers,JE</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000052322808</itemID><itemTypeID>THESIS-M</itemTypeID><currentLocationID>AH-X-TRANS</currentLocationID><homeLocationID>AH-X-TRANS</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking><staffNote>{Archival}</staffNote></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Wed, 07 Apr 2021 18:19:19 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=OCLC:80200908&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {"OCLC:80200908":{"bib_key":"OCLC:80200908","info_url":"https://books.google.com/books?id=jdtKHAAACAAJ\u0026source=gbs_ViewAPI","preview_url":"https://books.google.com/books?id=jdtKHAAACAAJ\u0026source=gbs_ViewAPI","preview":"noview","embeddable":false,"can_download_pdf":false,"can_download_epub":false,"is_pdf_drm_enabled":false,"is_epub_drm_enabled":false}};
  recorded_at: Fri, 15 Apr 2022 15:06:57 GMT
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=29252445
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>29252445</titleID><TitleAvailabilityInfo><totalCopiesAvailable>0</totalCopiesAvailable><totalResvCopiesAvailable>1</totalResvCopiesAvailable><libraryWithAvailableResvCopies>Penn
        State Wilkes-Barre</libraryWithAvailableResvCopies><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>WILKESBAR</libraryID><classificationID>LC</classificationID><callNumber>LB1029.T6T73
        2018</callNumber><numberOfCopies>0</numberOfCopies></CallInfo><numberOfBoundwithLinks>1</numberOfBoundwithLinks><BoundwithLinkInfo><linkedAsParent>true</linkedAsParent><callNumber>LB1029.T6C36
        2018</callNumber><libraryID>WILKESBAR</libraryID><itemID>000081643127</itemID><linkedTitle><titleID>29248124</titleID><title>Cargo
        train</title><author>LEGO koncernen (Denmark), production company.</author><yearOfPublication>2018</yearOfPublication><copiesOnOrder>0</copiesOnOrder><ISBN></ISBN><SICI></SICI><UPC>673419306324</UPC><OCLCControlNumber>1148090423</OCLCControlNumber></linkedTitle></BoundwithLinkInfo><BoundwithLinkInfo><linkedAsParent>false</linkedAsParent><callNumber>LB1029.T6T73
        2018</callNumber><libraryID>WILKESBAR</libraryID><linkedTitle><titleID>29252445</titleID><title>Tracks</title><author>LEGO
        koncernen (Denmark), production company.</author><yearOfPublication>2018</yearOfPublication><copiesOnOrder>0</copiesOnOrder><ISBN></ISBN><SICI></SICI><UPC>673419294089</UPC><OCLCControlNumber>1138887894</OCLCControlNumber></linkedTitle></BoundwithLinkInfo></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Fri, 12 Jan 2024 14:51:59 GMT
recorded_with: VCR 6.1.0
