---
http_interactions:
- request:
    method: head
    uri: https://arks.libraries.psu.edu/ark:/42409/ii34w27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://n2t.net//ark:/42409/ii34w27
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 22 Aug 2024 13:54:53 GMT
- request:
    method: head
    uri: https://n2t.net//ark:/42409/ii34w27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json
      Location:
      - https://arks.org/ark:42409/ii34w27
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 22 Aug 2024 13:54:54 GMT
- request:
    method: head
    uri: https://arks.org/ark:42409/ii34w27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json
      Location:
      - https://ezid.cdlib.org/ark:/42409/ii34w27
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 22 Aug 2024 13:54:54 GMT
- request:
    method: head
    uri: https://ezid.cdlib.org/ark:/42409/ii34w27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Fri, 14 Apr 2023 21:31:26 GMT
      Location:
      - https://digital.libraries.psu.edu/iiif/info/Comparatist/manifest.json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 22 Aug 2024 13:54:54 GMT
- request:
    method: get
    uri: https://catalog.hathitrust.org/api/volumes/brief/oclc/17545759.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "records": {}, "items": []
        }
  recorded_at: Thu, 22 Aug 2024 13:54:55 GMT
- request:
    method: get
    uri: https://sdws08.sirsidynix.net/psu_ilsws/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=1267921
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1267921</titleID><TitleAvailabilityInfo><totalCopiesAvailable>1</totalCopiesAvailable><libraryWithAvailableCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>PATTEE-2A</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>LCPER</classificationID><callNumber>PN851.C52
        v.1-3 no.1 1987-89</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000071202587</itemID><itemTypeID>PERIODICAL</itemTypeID><currentLocationID>PATTEE-2A</currentLocationID><homeLocationID>PATTEE-2A</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Thu, 22 Aug 2024 13:54:55 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=LCCN:sn%2088016767&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {};
  recorded_at: Thu, 22 Aug 2024 13:54:56 GMT
recorded_with: VCR 6.2.0
