---
http_interactions:
- request:
    method: head
    uri: https://arks.libraries.psu.edu/ark:/42409/ii34w27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://n2t.net//ark:/42409/ii34w27
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 May 2023 19:50:58 GMT
- request:
    method: head
    uri: https://n2t.net//ark:/42409/ii34w27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://digital.libraries.psu.edu/iiif/info/Comparatist/manifest.json
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 May 2023 19:50:59 GMT
- request:
    method: head
    uri: https://digital.libraries.psu.edu/iiif/info/Comparatist/manifest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <http://iiif.io/api/presentation/2/context.json>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Location:
      - https://digital.libraries.psu.edu/iiif/Comparatist/manifest.json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 May 2023 19:50:59 GMT
- request:
    method: head
    uri: https://digital.libraries.psu.edu/iiif/Comparatist/manifest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Link:
      - <http://iiif.io/api/presentation/2/context.json>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Location:
      - https://digital.libraries.psu.edu/iiif/2/Comparatist/manifest.json
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 May 2023 19:51:00 GMT
- request:
    method: head
    uri: https://digital.libraries.psu.edu/iiif/2/Comparatist/manifest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://iiif.io/api/presentation/2/context.json>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 May 2023 19:51:00 GMT
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=1267921
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1267921</titleID><TitleAvailabilityInfo><totalCopiesAvailable>1</totalCopiesAvailable><libraryWithAvailableCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>PATTEE-2A</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>LCPER</classificationID><callNumber>PN851.C52
        v.1-3 no.1 1987-89</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000071202587</itemID><itemTypeID>PERIODICAL</itemTypeID><currentLocationID>PATTEE-2A</currentLocationID><homeLocationID>PATTEE-2A</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Fri, 05 May 2023 19:51:01 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=LCCN:sn%2088016767&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {};
  recorded_at: Fri, 05 May 2023 19:56:23 GMT
[...]
- request:
    method: get
    uri: https://catalog.hathitrust.org/api/volumes/brief/oclc/17545759.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "records": {}, "items": []
        }
  recorded_at: Mon, 22 Apr 2024 18:17:52 GMT
- request:
    method: get
    uri: https://catalog.hathitrust.org/api/volumes/brief/oclc/17545759.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "records": {}, "items": []
        }
  recorded_at: Mon, 22 Apr 2024 18:40:32 GMT
recorded_with: VCR 6.1.0
