<div class='card card-default'>
  <div class="card-body">
    <h4 class="card-title">Search tips</h4>
    <ul class="advanced-help">
      <li>Select "match all" to require all fields.</li>
      <li>Select "match any" to find results matching at least one field.</li>
      <li>Use quotation marks to search for a phrase.</li>
      <li>Use "AND" between words or phrases or a "+" in front of additional words to make them required.</li>
      <li>Use "NOT" or a "-" in front of a word or phrase to exclude that word from the search.</li>
      <li>Use "OR" between words to search for one of the other of those results</li>
      <li>Use parentheses to nest your queries.</li>
      <li>Use wildcard "?" to represent a single character and "*" to represent 0 or more characters.</li>
   </ul>
    <p>See the <a href="https://catalog.libraries.psu.edu/search_tips">search tips page</a> for more.</p>
  </div>
</div>
