---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=6962697
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>6962697</titleID><TitleAvailabilityInfo><totalCopiesAvailable>1</totalCopiesAvailable><libraryWithAvailableCopies>Special
        Collections Library (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>ALLISON-SH</locationOfFirstAvailableItem><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-SPECCOL</libraryID><classificationID>LC</classificationID><callNumber>PT2362.H45S813
        1910z</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000070203608</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>ALLISON-SH</currentLocationID><homeLocationID>ALLISON-SH</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking><publicNote>Struwwelpeter</publicNote></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Mon, 14 Jun 2021 15:14:26 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=OCLC:704364916&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {"OCLC:704364916":{"bib_key":"OCLC:704364916","info_url":"https://books.google.com/books?id=avAOAAAAQAAJ\u0026source=gbs_ViewAPI","preview_url":"https://books.google.com/books?id=avAOAAAAQAAJ\u0026source=gbs_ViewAPI","thumbnail_url":"https://books.google.com/books/content?id=avAOAAAAQAAJ\u0026printsec=frontcover\u0026img=1\u0026zoom=5","preview":"noview","embeddable":false,"can_download_pdf":false,"can_download_epub":false,"is_pdf_drm_enabled":false,"is_epub_drm_enabled":false}};
  recorded_at: Fri, 15 Apr 2022 15:06:24 GMT
recorded_with: VCR 6.0.0
