---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=1839879
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1839879</titleID><TitleAvailabilityInfo><totalCopiesAvailable>6</totalCopiesAvailable><libraryWithAvailableCopies>Penn
        State Abington</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn
        State Hazleton</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn
        State New Kensington</libraryWithAvailableCopies><libraryWithAvailableCopies>Special
        Collections Library (UP)</libraryWithAvailableCopies><libraryWithAvailableCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>STACKS-AA</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>ABINGTON</libraryID><classificationID>LC</classificationID><callNumber>BP223.Z8L5798
        1990</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000053652829</itemID><itemTypeID>BOOKFLOAT</itemTypeID><currentLocationID>STACKS-AA</currentLocationID><homeLocationID>STACKS-AA</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>HAZLETON</libraryID><classificationID>LC</classificationID><callNumber>BP223.Z8L5798
        1990</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000023439955</itemID><itemTypeID>BOOKFLOAT</itemTypeID><currentLocationID>STACKS-WS</currentLocationID><homeLocationID>STACKS-WS</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>NEWKEN</libr[...]
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=LCCN:90030051&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {"LCCN:90030051":{"bib_key":"LCCN:90030051","info_url":"https://books.google.com/books?id=ShfNyQrAa-YC\u0026source=gbs_ViewAPI","preview_url":"https://books.google.com/books?id=ShfNyQrAa-YC\u0026printsec=frontcover\u0026source=gbs_ViewAPI","thumbnail_url":"https://books.google.com/books/content?id=ShfNyQrAa-YC\u0026printsec=frontcover\u0026img=1\u0026zoom=5\u0026edge=curl","preview":"partial","embeddable":true,"can_download_pdf":false,"can_download_epub":false,"is_pdf_drm_enabled":false,"is_epub_drm_enabled":false}};
  recorded_at: Fri, 15 Apr 2022 15:06:10 GMT
recorded_with: VCR 6.0.0
