---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=3500414
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>3500414</titleID><TitleAvailabilityInfo><totalCopiesAvailable>2</totalCopiesAvailable><libraryWithAvailableCopies>Penn State Erie</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn State Wilkes-Barre</libraryWithAvailableCopies><totalResvCopiesAvailable>2</totalResvCopiesAvailable><libraryWithAvailableResvCopies>Penn State Abington</libraryWithAvailableResvCopies><libraryWithAvailableResvCopies>Penn State Brandywine</libraryWithAvailableResvCopies><locationOfFirstAvailableItem>STACKS-WS</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>ABINGTON</libraryID><classificationID>LC</classificationID><callNumber>GN346.S86 2012</callNumber><numberOfCopies>2</numberOfCopies><ItemInfo><itemID>000075221997</itemID><itemTypeID>BOOKFLOAT</itemTypeID><currentLocationID>MISSING</currentLocationID><homeLocationID>STACKS-AB</homeLocationID><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking><staffNote>{GOBI}</staffNote></ItemInfo><ItemInfo><itemID>000080300380</itemID><itemTypeID>BOOKFLOAT</itemTypeID><currentLocationID>RESERVE-AB</currentLocationID><homeLocationID>STACKS-FE</homeLocationID><chargeable>true</chargeable><reserveCollectionID>RESERVE-AB</reserveCollectionID><reserveCirculationRule>RES-2HOUR</reserveCirculationRule><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>BEHREND</libraryID><classificationID>LC</classificationID><callNumber>GN346.S86 2012</callNumber><numberOfCopies>2</numberOfCopies><ItemInfo><itemID>000080334989</itemID><itemTypeID>BOOKFLOAT</itemTypeID><currentLocationID>CHECKEDOUT</currentLocationID><homeLocationID>STACKS-BD</homeLocationID><dueDate>2019-12-19T00:00:00.842-05:00</dueDate><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>000078113480</itemID><itemTypeID>BOOKFLOAT</itemTypeID><currentLocationID>STACKS-WS</currentLocationID><homeLocationID>STACKS-WS</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>BRANDYWINE</libraryID><classificationID>LC</classificationID><callNumber>GN346.S86 2012</callNumber><[...]
