---
http_interactions:
- request:
    method: get
    uri: https://sdws08.sirsidynix.net/psu_ilsws/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=370199
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>370199</titleID><TitleAvailabilityInfo><totalCopiesAvailable>0</totalCopiesAvailable><totalResvCopiesAvailable>0</totalResvCopiesAvailable><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>LC</classificationID><callNumber>NK9406.L48</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000009342668</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>ILLEND</currentLocationID><homeLocationID>PATTEE-2</homeLocationID><dueDate>2024-02-26T00:00:00.932-05:00</dueDate><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Tue, 05 Dec 2023 15:16:01 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=OCLC:10437512&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {"OCLC:10437512":{"bib_key":"OCLC:10437512","info_url":"https://books.google.com/books?id=x11qvgEACAAJ\u0026source=gbs_ViewAPI","preview_url":"https://books.google.com/books?id=x11qvgEACAAJ\u0026source=gbs_ViewAPI","thumbnail_url":"https://books.google.com/books/content?id=x11qvgEACAAJ\u0026printsec=frontcover\u0026img=1\u0026zoom=5","preview":"noview","embeddable":false,"can_download_pdf":false,"can_download_epub":false,"is_pdf_drm_enabled":false,"is_epub_drm_enabled":false}};
  recorded_at: Tue, 05 Dec 2023 15:16:01 GMT
recorded_with: VCR 6.1.0
