---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=25095210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>25095210</titleID><TitleAvailabilityInfo><totalCopiesAvailable>50</totalCopiesAvailable><libraryWithAvailableCopies>Maps Library (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>MAPS-MP</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-MAPS</libraryID><classificationID>LC</classificationID><callNumber>G6890 s100.G4 Blatt.3-2</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000064538341</itemID><itemTypeID>MAPSPEC</itemTypeID><currentLocationID>MAPS-MP</currentLocationID><homeLocationID>MAPS-MP</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-MAPS</libraryID><classificationID>LC</classificationID><callNumber>G6890 s100.G4 Blatt.3-7</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000064538433</itemID><itemTypeID>MAPSPEC</itemTypeID><currentLocationID>MAPS-MP</currentLocationID><homeLocationID>MAPS-MP</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-MAPS</libraryID><cl[...]
