---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=24519
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>24519</titleID><TitleAvailabilityInfo><totalCopiesAvailable>37</totalCopiesAvailable><libraryWithAvailableCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableCopies><libraryWithAvailableCopies>Annex
        (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>PATERNO-2</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-MAPS</libraryID><classificationID>LC</classificationID><callNumber>G5761.F7
        1963.G7 index</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000044512613</itemID><itemTypeID>MAPSPEC</itemTypeID><currentLocationID>DEPTCHARGE</currentLocationID><homeLocationID>MAPS-MP</homeLocationID><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>LC</classificationID><callNumber>JS4012.L7G7</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000004626824</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>PATERNO-2</currentLocationID><homeLocationID>PATERNO-2</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-ANNEX</libraryID><classificatio[...]
