---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=2025781
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>2025781</titleID><TitleAvailabilityInfo><totalCopiesAvailable>2</totalCopiesAvailable><libraryWithAvailableCopies>Special
        Collections Library (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>RARE-MAPS</locationOfFirstAvailableItem><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-SPECCOL</libraryID><classificationID>LC</classificationID><callNumber>G3860
        1776.G4 1961</callNumber><numberOfCopies>2</numberOfCopies><ItemInfo><itemID>000026874098</itemID><itemTypeID>MAP</itemTypeID><currentLocationID>RARE-MAPS</currentLocationID><homeLocationID>RARE-MAPS</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>000026879802</itemID><itemTypeID>MAP</itemTypeID><currentLocationID>RARE-MAPS</currentLocationID><homeLocationID>RARE-MAPS</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Thu, 25 May 2023 18:31:49 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=LCCN:74694843&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {};
  recorded_at: Thu, 25 May 2023 18:31:49 GMT
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_116.0.5845
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><Error><Code>NoSuchKey</Code><Message>The
        specified key does not exist.</Message><Details>No such object: chromedriver/LATEST_RELEASE_116.0.5845</Details></Error>"
  recorded_at: Mon, 11 Sep 2023 15:23:49 GMT
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Generation:
      - '1685523462105569'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '13'
      X-Goog-Hash:
      - crc32c=tVW4TA==
      - md5=NoaEuIlBlniwTkiZ1T16sA==
      X-Goog-Storage-Class:
      - STANDARD
      Last-Modified:
      - Wed, 31 May 2023 08:57:42 GMT
      Etag:
      - '"368684b889419678b04e4899d53d7ab0"'
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 114.0.5735.90
  recorded_at: Mon, 11 Sep 2023 15:23:49 GMT
recorded_with: VCR 6.1.0
