---
http_interactions:
- request:
    method: get
    uri: https://sdws08.sirsidynix.net/psu_ilsws/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=1836205
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1836205</titleID><TitleAvailabilityInfo><totalCopiesAvailable>24</totalCopiesAvailable><libraryWithAvailableCopies>Special
        Collections Library (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>SPC-SCIPRK</locationOfFirstAvailableItem><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-SPECCOL</libraryID><classificationID>ASIS</classificationID><callNumber>RBM
        2457 box01 AX/SP/10155/11</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000076995675</itemID><itemTypeID>ARCHIVES</itemTypeID><currentLocationID>SPC-SCIPRK</currentLocationID><homeLocationID>SPC-SCIPRK</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-SPECCOL</libraryID><classificationID>ASIS</classificationID><callNumber>RBM
        2457 box02 AX/SP/10155/11</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000076995682</itemID><itemTypeID>ARCHIVES</itemTypeID><currentLocationID>SPC-SCIPRK</currentLocationID><homeLocationID>SPC-SCIPRK</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><librar[...]
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=OCLC:32251034&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {};
  recorded_at: Fri, 15 Apr 2022 15:07:06 GMT
recorded_with: VCR 6.0.0
