---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=BCCAT&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=1836205
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1836205</titleID><TitleAvailabilityInfo><totalCopiesAvailable>24</totalCopiesAvailable><libraryWithAvailableCopies>Special
        Collections Library (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>SPC-SCIPRK</locationOfFirstAvailableItem><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-SPECCOL</libraryID><classificationID>ASIS</classificationID><callNumber>RBM
        2457 box24 AX/SP/10014/04</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>100140403</itemID><itemTypeID>ARCHIVES</itemTypeID><currentLocationID>SPC-SCIPRK</currentLocationID><homeLocationID>SPC-SCIPRK</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-SPECCOL</libraryID><classificationID>ASIS</classificationID><callNumber>RBM
        2457 box23 GST/F/2/S01</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000076995781</itemID><itemTypeID>ARCHIVES</itemTypeID><currentLocationID>SPC-PATRNO</currentLocationID><homeLocationID>SPC-PATRNO</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID[...]
