version: 2.1

orbs:
   docker: circleci/docker@2.6.0
   browser-tools: circleci/browser-tools@1.5.2

parameters:

  GHA_Action:
    type: string
    default: ""
  GHA_Actor:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  CI_UTILS_IMAGE_TAG:
    type: string
    default: "v4.3.0"
  CONFIG_REPO_NAME:
    type: string
    default: "catalog-config"
  CONFIG_REPO_URL:
    type: string
    default: "git@github.com:psu-libraries/catalog-config.git"
  CLUSTERS_DEV:
    type: string
    default: "uldev"
  CLUSTERS_PROD:
    type: string
    default: "prod"    
  REGISTRY_HOST:
    type: string
    default: "harbor.k8s.libraries.psu.edu"    

commands:

  clone-config-repo:
    steps:
      - add_ssh_keys
      - run:
          name: Prepare GitHub Access
          command: |
            ssh-keyscan github.com > ~/.ssh/known_hosts
            git clone $CONFIG_REPO_URL

  compute-docker-tag:
    steps:
      - run:
          name: Compute Docker Tag
          command: |
            if [[ "$CIRCLE_BRANCH" == "main" ]]; then
              TAG="$CIRCLE_SHA1"
            else
              SLUG=$(slugify-branch "$CIRCLE_BRANCH")
              TAG="${SLUG}--$CIRCLE_SHA1"
            fi
            echo "export TAG=$TAG" >> "$BASH_ENV"    

executors:

  ci-utils:
    parameters:
      image_tag:
        type: string
    docker:
      - image: harbor.k8s.libraries.psu.edu/library/ci-utils:<< parameters.image_tag >>

jobs: 
  build-image:
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_REPO: "library/$CIRCLE_PROJECT_REPONAME"
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>  
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - announce-config-version
      - run:
          name: Checkout Branch
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            if [[ "$CIRCLE_BRANCH" == update/* ]]; then
              git fetch origin "$CIRCLE_BRANCH"
              git checkout "$CIRCLE_BRANCH"
              echo "Now on branch: $(git rev-parse --abbrev-ref HEAD)"
            else
              echo "Using detached HEAD at commit: $CIRCLE_SHA1"
            fi
      - compute-docker-tag          
      - docker/check:
          registry: $REGISTRY_HOST
      - docker/build:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG
          extra_build_args: "--target production"
          use-buildkit: true
      - docker/push:
          digest-path: /tmp/digest.txt
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG     
      - run:
          command: |
            echo "Digest is: $(</tmp/digest.txt)"

  push-image:
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_REPO: "library/$CIRCLE_PROJECT_REPONAME"
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    steps:
      - setup_remote_docker:
          docker_layer_caching: false
      - checkout
      - compute-docker-tag
      - attach_workspace:
          at: /tmp
      - run:
          name: Load Docker image
          command: |
            docker load -i /tmp/docker-image.tar
      - docker/check:
          registry: $REGISTRY_HOST
      - docker/push:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG                     
  
  delete-deployment:
    parameters:
      delete_branch:
        type: string
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
      DELETE_BRANCH: << parameters.delete_branch >>
    steps:
      - clone-config-repo
      - run:
          name: Delete Deployment
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            cd $CONFIG_REPO_NAME
            ./bin/ci-delete-manifest
  
  # deploy-application:
  #   executor:
  #     name: ci-utils
  #     image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
  #     registry_host: << pipeline.parameters.REGISTRY_HOST >>
  #   environment:
  #     clusters: << parameters.clusters >>
  #     CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
  #     CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
  #   parameters:
  #     clusters:
  #       type: string
  #   steps:
  #     - clone-config-repo
  #     - compute-docker-tag
  #     - run:
  #         name: Add or Update Application Manifest
  #         command: |
  #           export TRIGGERED_BY="$CIRCLE_USERNAME"
  #           # Split comma-separated clusters into array and loop
  #           clusters="${clusters// /}"
  #           IFS=',' read -ra CLUSTERS \<<< "$clusters"
  #           echo "Pre loop Directory: $(pwd)"
  #           for cluster in "${CLUSTERS[@]}"; do
  #               export TARGET_CLUSTER="$cluster"
  #               echo "Processing cluster: $TARGET_CLUSTER"
  #               cd $CONFIG_REPO_NAME
  #               ./bin/ci-write-manifest
  #               echo "Finished processing $TARGET_CLUSTER"
  #               git status
  #           done

# jobs:
  # release:
  #   docker:
  #     - image: harbor.k8s.libraries.psu.edu/library/ci-utils:v4.0.4
  #   environment:
  #     REGISTRY_HOST: harbor.k8s.libraries.psu.edu
  #     REGISTRY_REPO: library/psulib_blacklight
  #     GITHUB_USER: 'psu-stewardship-bot'
  #     CONFIG_REPO: git@github.com:psu-libraries/catalog-config.git
  #   steps:
  #     - add_ssh_keys
  #     - run:
  #         name: "Release"
  #         command: |
  #           /usr/local/bin/tag-image
  #           ssh-keyscan github.com > ~/.ssh/known_hosts
  #           git clone $CONFIG_REPO
  #           cd catalog-config
  #           /usr/local/bin/pr-release clusters/prod/manifests/psulib_blacklight/prod.yaml
  # publish:
  #   executor:
  #     name: docker/docker
  #     tag: "3.8"
  #   steps:
  #     - setup_remote_docker:
  #         docker_layer_caching: true
  #     - checkout
  #     - docker/check:
  #         registry: harbor.k8s.libraries.psu.edu
  #     - docker/build:
  #         image: library/psulib_blacklight
  #         registry: harbor.k8s.libraries.psu.edu
  #         use-buildkit: true
  #         extra_build_args: "--target production"
  #     - docker/push:
  #         digest-path: /tmp/digest.txt
  #         image: library/psulib_blacklight
  #         registry: harbor.k8s.libraries.psu.edu
  #     - run:
  #         command: |
  #           echo "Digest is: $(</tmp/digest.txt)"
  # deploy:
  #   docker:
  #     - image: harbor.k8s.libraries.psu.edu/library/ci-utils:v4.0.4
  #   environment:
  #     CONFIG_REPO: git@github.com:psu-libraries/catalog-config.git
  #   steps:
  #     - add_ssh_keys
  #     - run:
  #         name: "Updating Config Repo"
  #         command: |
  #           ssh-keyscan github.com > ~/.ssh/known_hosts
  #           git clone $CONFIG_REPO
  #           cd catalog-config
  #           ./bin/generate_app
  #           ./bin/generate_app_uldev
  test-application:
    docker:
      - image: cimg/ruby:3.4.1-browsers
      - image: harbor.k8s.libraries.psu.edu/library/solr:9.5.0
        environment:
          SOLR_STOP_WAIT: 1
        command: [
          "/bin/bash",
          "-c",
          "solr -c && solr auth enable -credentials catalog:catalog -z localhost:9983; solr stop && solr -c -f",
        ]
    environment:
      RAILS_ENV: test
      SETTINGS__solr__username: catalog
      SETTINGS__solr__password: catalog
    steps:
    - run:
        name: "libu2f-udev"
        command: |
          sudo apt-get update
          sudo apt-get install libu2f-udev -y
    - browser-tools/install-browser-tools
    - checkout
    - restore_cache:
        keys:
          - bundle-{{ checksum "Gemfile.lock" }}
    - restore_cache:
        keys:
          - yarn-{{ checksum "yarn.lock" }}
    - run:
        name: "Update Node.js and npm"
        command: |
          curl -sSL "https://nodejs.org/dist/v22.14.0/node-v22.14.0-linux-x64.tar.xz" | sudo tar --strip-components=2 -xJ -C /usr/local/bin/ node-v22.14.0-linux-x64/bin/node
          sudo corepack enable
          sudo corepack prepare yarn@1.22.22 --activate
    - run:
        name: "Bundle"
        command: |
          gem install bundler
          bundle check --path vendor/bundle || bundle install --deployment
    - run:
        name: "Yarn"
        command: |
          yarn install --cache-folder ~/.cache/yarn --frozen-lockfile
    - run:
        name: "Wait for Solr"
        command: dockerize -wait tcp://localhost:8983 -timeout 2m
    - save_cache:
        paths:
          - vendor/bundle
        key: bundle-{{ checksum "Gemfile.lock" }} 
    - save_cache:
        key: yarn-{{ checksum "yarn.lock" }}
        paths:
          - ~/.cache/yarn
    - run:
        name: "Lint"
        command: |
          bundle exec niftany
          yarn lint
    - run:
        name: "Jest"
        command: |
          yarn test
    - run:
        name: "RSpec"
        command: |
          ./bin/ci-rspec

workflows:
  version: 2

  delete-deployment:
    when:
      equal: [ "delete", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - delete-deployment:
          name: delete-deployment
          context: [org-global]
          delete_branch: << pipeline.parameters.GHA_Meta >>
          filters:
            branches:
              only: /.*/
  docker-push:
    unless:
      equal: [ "delete", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - build-image:
          name: build-image
          context:
            - org-global
          filters:
            branches:
              only: /.*/
              # only:
              #   - main
              #   - /preview\/.*/
      - deploy-application:
          name: deploy-application
          context:
            - org-global
          clusters: << pipeline.parameters.CLUSTERS_DEV >>
          filters:
            branches:
              only: /.*/            
              # only:
              #   - main
              #   - /preview\/.*/
          requires:
            - push-image
      - push-image:
          name: push-image
          context:
            - org-global
          filters:
            branches:
              only: /.*/              
              # only:
              #   - main
              #   - /preview\/.*/
          requires:
            - build-image
            - test-application
      - release-image:
          name: release-image
          clusters: << pipeline.parameters.CLUSTERS_PROD >>
          context:
            - org-global
          from_tag: "<< pipeline.git.revision >>"
          to_tag: "<< pipeline.git.tag >>"
          filters:
            branches:
              only: /.*/
              # ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+.*/
      - test-application:
          name: test-application
          context:
            - org-global
          filters:
            branches:
              only: /.*/
              # only:
              #   - main
              #   - /preview\/.*/              

  # blacklight:
  #   jobs:
  #     - release:
  #         context:
  #           - org-global
  #         name: "Release"
  #         filters:
  #           tags:
  #             only:
  #               - /^v\d+.\d+.\d+.*/
  #           branches:
  #             ignore:
  #               - /.*/
  #     - test
  #     - publish:
  #         context: 
  #           - org-global
  #         filters:
  #           branches:
  #             only:
  #               - main
  #               - /preview\/.*/
  #     - deploy:
  #         context: 
  #           - org-global
  #         requires:
  #           - test
  #           - publish
  #         filters:
  #           branches:
  #             only:
  #               - main
  #               - /preview\/.*/
