<div class="announcement container-fluid bg-light">
  <div class="row align-items-center">
    <div class="col align-content-center">
      <p class="text-center mt-2 mb-2 pb-1"><i class="fas fa-bullhorn"></i><%= blackcat_message(:announcement) %></p>
    </div>
  </div>
</div>
