<ul class="navbar-nav">
  <%= render_nav_actions do |config, action| %>
    <li class="nav-item"><%= action %></li>
  <% end %>
    <li class="nav-item"><%= link_to 'My Account', 'https://libraries.psu.edu/services/borrow-renew/my-library-accounts', class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Advanced search', blacklight_advanced_search_engine.advanced_search_path(search_state.to_h), class: 'nav-link d-md-none' %>
    </li>
</ul>
