<div class="bs-callout bs-callout-warning">
  <% if hathi_links.dig(:etas_item) -%>
    <h5 class="record-view-only" id="conveying-meaning-to-assistive-technologies">Full Text available online</h5>
  <% end %>
  <% if hathi_links[:additional_text] -%>
    <p class="record-view-only"><%= hathi_links[:additional_text] %></p>
  <% end %>
  <p>
    <%= link_to(image_pack_tag('media/psulib_blacklight/images/128px-HathiTrust_logo.svg.png',
                               alt: 'HathiTrust logo',
                               class: 'mr-3 d-none d-md-inline') + hathi_links[:text],
                hathi_links[:url]) %>
  </p>
</div>
