---
http_interactions:
- request:
    method: get
    uri: https://sdws08.sirsidynix.net/psu_ilsws/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=3753687
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>3753687</titleID><TitleAvailabilityInfo><totalCopiesAvailable>2</totalCopiesAvailable><libraryWithAvailableCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableCopies><libraryWithAvailableCopies>Annex
        (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>PATTEE-2A</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>LC</classificationID><callNumber>PN4885.Y5C5
        1946</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000060369666</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>PATTEE-2A</currentLocationID><homeLocationID>PATTEE-2A</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-ANNEX</libraryID><classificationID>LC</classificationID><callNumber>PN4885.Y5C5
        1946</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000061609839</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>CATO-2</currentLocationID><homeLocationID>CATO-2</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Mon, 28 Apr 2025 19:47:51 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=LCCN:47021093&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {"LCCN:47021093":{"bib_key":"LCCN:47021093","info_url":"https://books.google.com/books?id=5BsOav_AzqAC\u0026source=gbs_ViewAPI","preview_url":"https://books.google.com/books?id=5BsOav_AzqAC\u0026source=gbs_ViewAPI","thumbnail_url":"https://books.google.com/books/content?id=5BsOav_AzqAC\u0026printsec=frontcover\u0026img=1\u0026zoom=5","preview":"noview","embeddable":false,"can_download_pdf":false,"can_download_epub":false,"is_pdf_drm_enabled":false,"is_epub_drm_enabled":false}};
  recorded_at: Mon, 28 Apr 2025 19:47:51 GMT
recorded_with: VCR 6.2.0
