---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=3753687
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>3753687</titleID><TitleAvailabilityInfo><totalCopiesAvailable>2</totalCopiesAvailable><libraryWithAvailableCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableCopies><libraryWithAvailableCopies>Annex
        (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>HATHIETAS</locationOfFirstAvailableItem><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>LC</classificationID><callNumber>PN4885.Y5C5
        1946</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000060369666</itemID><itemTypeID>HATHIETAS</itemTypeID><currentLocationID>HATHIETAS</currentLocationID><homeLocationID>HATHIETAS</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-ANNEX</libraryID><classificationID>LC</classificationID><callNumber>PN4885.Y5C5
        1946</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000061609839</itemID><itemTypeID>HATHIETAS</itemTypeID><currentLocationID>HATHIETAS</currentLocationID><homeLocationID>HATHIETAS</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Mon, 12 Apr 2021 14:28:26 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=LCCN:47021093&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {"OCLC:704364916":{"bib_key":"OCLC:704364916","info_url":"https://books.google.com/books?id=avAOAAAAQAAJ\u0026source=gbs_ViewAPI","preview_url":"https://books.google.com/books?id=avAOAAAAQAAJ\u0026source=gbs_ViewAPI","thumbnail_url":"https://books.google.com/books/content?id=avAOAAAAQAAJ\u0026printsec=frontcover\u0026img=1\u0026zoom=5","preview":"noview","embeddable":false,"can_download_pdf":false,"can_download_epub":false,"is_pdf_drm_enabled":false,"is_epub_drm_enabled":false}};
  recorded_at: Fri, 15 Apr 2022 15:06:24 GMT
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=29252445
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>29252445</titleID><TitleAvailabilityInfo><totalCopiesAvailable>0</totalCopiesAvailable><totalResvCopiesAvailable>1</totalResvCopiesAvailable><libraryWithAvailableResvCopies>Penn
        State Wilkes-Barre</libraryWithAvailableResvCopies><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>WILKESBAR</libraryID><classificationID>LC</classificationID><callNumber>LB1029.T6T73
        2018</callNumber><numberOfCopies>0</numberOfCopies></CallInfo><numberOfBoundwithLinks>1</numberOfBoundwithLinks><BoundwithLinkInfo><linkedAsParent>true</linkedAsParent><callNumber>LB1029.T6C36
        2018</callNumber><libraryID>WILKESBAR</libraryID><itemID>000081643127</itemID><linkedTitle><titleID>29248124</titleID><title>Cargo
        train</title><author>LEGO koncernen (Denmark), production company.</author><yearOfPublication>2018</yearOfPublication><copiesOnOrder>0</copiesOnOrder><ISBN></ISBN><SICI></SICI><UPC>673419306324</UPC><OCLCControlNumber>1148090423</OCLCControlNumber></linkedTitle></BoundwithLinkInfo><BoundwithLinkInfo><linkedAsParent>false</linkedAsParent><callNumber>LB1029.T6T73
        2018</callNumber><libraryID>WILKESBAR</libraryID><linkedTitle><titleID>29252445</titleID><title>Tracks</title><author>LEGO
        koncernen (Denmark), production company.</author><yearOfPublication>2018</yearOfPublication><copiesOnOrder>0</copiesOnOrder><ISBN></ISBN><SICI></SICI><UPC>673419294089</UPC><OCLCControlNumber>1138887894</OCLCControlNumber></linkedTitle></BoundwithLinkInfo></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Tue, 09 May 2023 19:21:32 GMT
recorded_with: VCR 6.1.0
