---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_91.0.4472
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 11 Jun 2021 10:43:32 GMT
      Etag:
      - '"c6fa1ad091b35b0a7deb978c9e4e1255"'
      X-Goog-Generation:
      - '1623408212652693'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '13'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=UBbsOw==
      - md5=xvoa0JGzWwp965eMnk4SVQ==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 91.0.4472.101
  recorded_at: Tue, 20 Jul 2021 16:41:09 GMT
- request:
    method: get
    uri: https://sdws08.sirsidynix.net/psu_ilsws/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=21588551
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>21588551</titleID><TitleAvailabilityInfo><totalCopiesAvailable>4</totalCopiesAvailable><libraryWithAvailableCopies>Penn
        State Erie</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn State
        Hazleton</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn State
        Greater Allegheny</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>MEDIA-BD</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>BEHREND</libraryID><classificationID>LC</classificationID><callNumber>PN1997.2.L66255
        2017 Blu-ray/DVD</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000079961226</itemID><itemTypeID>VIDEO</itemTypeID><currentLocationID>MEDIA-BD</currentLocationID><homeLocationID>MEDIA-BD</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>HAZLETON</libraryID><classificationID>LC</classificationID><callNumber>PN1997.2.L66255
        2017 Blu-ray/DVD</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000079960731</itemID><itemTypeID>VIDEO</itemTypeID><currentLocationID>HIGHACRES</currentLocationID><homeLocationID>HIGHACRES</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>GALLEGHENY</libraryID><classificationID>LC</classificationID><callNumber>PN1997.2.L66255
        2017 Blu-ray</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000079940238</itemID><itemTypeID>VIDEO</itemTypeID><currentLocationID>MEDIA-MK</currentLocationID><homeLocationID>MEDIA-MK</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>GALLEGHENY</libraryID><classificationID>LC</classificationID><callNumber>PN1997.2.L66255
        2017 DVD</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000079960908</itemID><itemTypeID>VIDEO</itemTypeID><currentLocationID>MEDIA-MK</currentLocationID><homeLocationID>MEDIA-MK</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Tue, 20 Jul 2021 16:41:17 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=OCLC:1012615411&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/javascript; charset=ISO-8859-1
      Content-Disposition:
        - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {"OCLC:704364916":{"bib_key":"OCLC:704364916","info_url":"https://books.google.com/books?id=avAOAAAAQAAJ\u0026source=gbs_ViewAPI","preview_url":"https://books.google.com/books?id=avAOAAAAQAAJ\u0026source=gbs_ViewAPI","thumbnail_url":"https://books.google.com/books/content?id=avAOAAAAQAAJ\u0026printsec=frontcover\u0026img=1\u0026zoom=5","preview":"noview","embeddable":false,"can_download_pdf":false,"can_download_epub":false,"is_pdf_drm_enabled":false,"is_epub_drm_enabled":false}};
  recorded_at: Fri, 15 Apr 2022 15:06:24 GMT
recorded_with: VCR 6.0.0
