<h1>About</h1>
<h2>What's in the Catalog</h2>
<h3>What you can find in the Catalog</h3>
<p>Books, journals, government documents, newspapers, maps, archival collections, music, videos, conference proceedings, and more. Find them on the shelf, have them sent to you (I Want It!), or access them online.</p>

<h2>What you can find elsewhere</h2>

<ul>
  <li>Individual articles. Try using <%= link_to 'LionSearch', 'https://psu.summon.serialssolutions.com/'%> or a <%= link_to  'database', 'https://libraries.psu.edu/databases' %> on the subject.</li>
  <li>Books, journal articles, and other materials we don't own. Use our <%= link_to 'Interlibrary Loan services', 'https://libraries.psu.edu/services/interlibrary-loan-services' %> to request materials.</li>
</ul>

<h2>Improving the Catalog</h2>

<p>In 2018, the libraries began the process of changing the look and feel of the catalog we've been using for the last 20 years. While not changing the underlying software, we've developed a mobile-friendly web interface which&hellip;</p>
