<h1>Search Tips</h1>
<h2>Simple Search</h2>
<p>Use the simple search box at the top of the page to search by keywords in the entire record. You can change the drop-down to limit your search to words in the title, author/creator name, or subject. Use quotes around exact phrases to get more specific results, e.g. "remote sensing."</p>

<h2>Sidebar Facets</h2>
<p>Narrow your search results using the facets on the left sidebar. Know you're looking for a musical score? Use the Formats tab and select Musical Score. You can also narrow results:</p>
<ul>
  <li>by whether material is in a library or online</li>
  <li>to only one campus or library</li>
  <li>by date</li>
  <li>by the language of the material</li>
  <li>by subject or genre</li>
  <li>by whether it's on DVD, Blu-Ray, microfilm, vinyl, etc.</li>
  <li>by how it's classified, e.g. philosophy, botany, etc.</li>
</ul>

<p>Clear facets by unchecking them in the sidebar, closing the facet's box[describe better] at the top of the page, or choosing "Start Over" at the top of the page.</p>

<h2>Advanced Search</h2>

<p>You can also use the Advanced Search[/advanced] to construct a complicated search. For example, if you only want books about homelessness published after 2000, you'd use the following fields:</p>
<pre>Keyword: homelessness
Format: book
Publication year: 2000 - [leave blank]</pre>