---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=BCCAT&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=23783767
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>23783767</titleID><TitleAvailabilityInfo><totalCopiesAvailable>2</totalCopiesAvailable><libraryWithAvailableCopies>Penn
        State Hazleton</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn
        State Mont Alto</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>RESERVE-HN</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>HAZLETON</libraryID><classificationID>LC</classificationID><callNumber>PN6120.2.A15
        2017</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000080287506</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>RESERVE-HN</currentLocationID><homeLocationID>RESERVE-HN</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>MONTALTO</libraryID><classificationID>LC</classificationID><callNumber>PN6120.2.A15
        2017</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000081400249</itemID><itemTypeID>BOOKFLOAT</itemTypeID><currentLocationID>STACKS-MA</currentLocationID><homeLocationID>STACKS-MA</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Fri, 09 Apr 2021 15:49:12 GMT
recorded_with: VCR 6.0.0
