---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=23783767
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>23783767</titleID><TitleAvailabilityInfo><totalCopiesAvailable>2</totalCopiesAvailable><libraryWithAvailableCopies>Penn
        State Hazleton</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn
        State Mont Alto</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>RESERVE-HN</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>HAZLETON</libraryID><classificationID>LC</classificationID><callNumber>PN6120.2.A15
        2017</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000080287506</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>RESERVE-HN</currentLocationID><homeLocationID>RESERVE-HN</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>MONTALTO</libraryID><classificationID>LC</classificationID><callNumber>PN6120.2.A15
        2017</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000081400249</itemID><itemTypeID>BOOKFLOAT</itemTypeID><currentLocationID>STACKS-MA</currentLocationID><homeLocationID>STACKS-MA</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Fri, 09 Apr 2021 15:49:12 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=OCLC:962261049&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {"OCLC:962261049":{"bib_key":"OCLC:962261049","info_url":"https://books.google.com/books?id=lN_fjwEACAAJ\u0026source=gbs_ViewAPI","preview_url":"https://books.google.com/books?id=lN_fjwEACAAJ\u0026source=gbs_ViewAPI","thumbnail_url":"https://books.google.com/books/content?id=lN_fjwEACAAJ\u0026printsec=frontcover\u0026img=1\u0026zoom=5","preview":"noview","embeddable":false,"can_download_pdf":false,"can_download_epub":false,"is_pdf_drm_enabled":false,"is_epub_drm_enabled":false}};
  recorded_at: Fri, 15 Apr 2022 15:07:34 GMT
recorded_with: VCR 6.0.0
