<div class="bs-callout bs-callout-warning">
  <h5 class="record-view-only" id="conveying-meaning-to-assistive-technologies">Full Text available online</h5>
  <p class="record-view-only"><%= hathi_links.dig :additional_text %></p>
  <p><%= link_to(image_pack_tag('media/psulib_blacklight/images/128px-HathiTrust_logo.svg.png',
                                alt: 'HathiTrust logo',
                                class: 'mr-3 d-none d-md-inline') + hathi_links.dig(:text),
                 hathi_links.dig(:url)) %></p>
</div>
