<div class="bs-callout bs-callout-warning">
    <h5 class="record-view-only" id="conveying-meaning-to-assistive-technologies">Full Text available online</h5>
    <p class="record-view-only">By special arrangement in response to the COVID-19 pandemic, patrons may access this resource online through the HathiTrust Emergency Temporary Access Service.</p>

  <p><%= link_to(image_pack_tag('media/psulib_blacklight/images/128px-HathiTrust_logo.svg.png',
                                alt: 'HathiTrust logo',
                                class: 'mr-3 d-none d-md-inline') + etas_blackcat_url_hash[:text],
                 etas_blackcat_url_hash[:href]) %></p>
</div>
