<h3>Please Log In or Modify Your Search</h3>
<br>
<p> In an attempt to limit AI bot traffic, we are currently limiting the number of search terms for users that are not logged in. Unfortunately, these bots were taking advantage of unlimited search terms to degrade Catalog performance and availability for all users.
</p>
<p>By limiting more complex searches to logged in users, we hope to continue to provide robust and reliable access to materials held by the Penn State Libraries.
</p>
<p>To continue with your current search, please <a href="<%= login_path %>">log in</a>. We apologize for the inconvenience.</p>
