<% if current_user %>
<%= render PsulBookmarkComponent.new(document: document) %>
<% else %>
<a class="btn btn-sm btn-info" href="/login?fullpath=<%= request.fullpath %>">Login to Bookmark</a>
<% end %>
