<a id="google-preview" class="google-preview-link" style="display:none;" data="<%= document['oclc_number_ssim']&.first&.to_s %>">
  <%= image_pack_tag('media/psulib_blacklight/images/gbs_preview_button1.gif',
                     alt: 'Google Books Preview Link') %>
</a>
