<% hathi_hash = hathi_hash document %>
<% if hathi_hash %>
  <div class="bs-callout bs-callout-warning">
      <h5 class="record-view-only" id="conveying-meaning-to-assistive-technologies">Full Text available online</h5>
      <%= hathi_links hathi_hash %>
  </div>
<% end %>