<%
  document ||= @document
  id = document[:id]
%>
<div class="availability" data-keys="<%= id %>">
    <div class="card card-body border-right-0 border-left-0">
      <h4 class="card-title">Availability and Holdings</h4>
      <div class="hold-button text-right invisible mb-2">
        <%= link_to 'I Want It', "http://cat.libraries.psu.edu/cgi-bin/catredirpg?C=#{id}", class: 'btn btn-primary pr-4 pl-4' %>
      </div>
      <div class="availability-holdings">
        <p><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Finding items...</p>
      </div>
    </div>
</div>
