<%
  document ||= @document
  id = document[:id]
%>
<div class="blacklight-availability col">
  <div class="availability" data-keys="<%= id %>">
    <h4>Availability and Holdings</h4>
    <div class="availability-holdings">
      <p><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Finding items...</p>
    </div>
  </div>
</div>
