<%
  document ||= @document
  id = document[:id]
%>
<div class="row document-metadata metadata-availability">
  <div class="blacklight-availability col">
    <div class="availability" data-keys="<%= id %>">
      <h4>Availability</h4>
      <% unless Settings&.readonly_holds %>
        <div class="hold-button text-right invisible mb-2">
          <%= link_to 'I Want It', "http://cat.libraries.psu.edu/cgi-bin/catredirpg?C=#{id}", class: 'btn btn-primary pr-4 pl-4' %>
        </div>
      <% end %>
      <div class="availability-holdings">
        <p><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Finding items...</p>
      </div>
    </div>
  </div>
</div>
