<div class="alert alert-warning my-3">
  <h4>No authors found. Try the following tips to revise your search:</h4>

  <ol>
    <li>
      Use the inverted form of the name.
      <br>
      <strong>Example:</strong> use "Le Guin, Urusula", not "Ursula Le Guin".
    </li>
    <li>
      Be sure you're capitalizing the last name and first name (as appropriate).
      <br>
      <strong>Example:</strong> "Lin, Wei", not "lin, wei".
    </li>
    <li>
      Shorten your search term. Try just the last name or the last name and first initial.
      <br>
      <strong>Example:</strong> instead of "Tchaikovsky, Piotr" try "Tchaikovsky" or "Tchaikovsky, P".
    </li>
    <li>
      Check the spelling or try alternate spellings for names from languages that use non-Latin alphabets.
      <br>
      <strong>Example:</strong> instead of "Tchaikovsky, Piotr" try "Tchaikovsky, Peter" or "Tchaikovsky, P".
    </li>
  </ol>
</div>
