<div class="alert alert-warning my-3">
  <h4>No subjects found. Try the following tips to revise your search:</h4>

  <ol>
    <li>
      Shorten your search term.
      <br>
      <strong>Example:</strong> instead of "Bookbinding" try "Bookb" or "Bookbind" to get subjects for Bookbinders and Bookbinding. Or use "Immigr" to find subjects about Immigration, Immigrants, etc.
    </li>
    <li>
      Try a related term, especially the technical form.
      <br>
      <strong>Example:</strong> instead of "Heart attack" try "Myocardial infarction".
    </li>
  </ol>
</div>
