<h1>Browse by Subject</h1>

<%= render Browse::PrefixSelector.new(prefix: @subject_list.prefix) %>

<% if @subject_list.empty? %>
  <%= render 'empty' %>
<% else %>
  <%= render 'subjects', subject_list: @subject_list %>
<% end %>
