<div class='pagination-search-widgets'>

  <div class="page-links">
    <%= link_to_previous_document(aria: { label: 'Previous result' }) %> |

    <%= item_page_entry_info %> |

    <%= link_to_next_document(aria: { label: 'Next result' }) %>
  </div>
</div>
