---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=3500414
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>3500414</titleID><TitleAvailabilityInfo><totalCopiesAvailable>3</totalCopiesAvailable><libraryWithAvailableCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableCopies><libraryWithAvailableCopies>Online
        Resource</libraryWithAvailableCopies><libraryWithAvailableCopies>Dickinson
        Law (Carlisle)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>DOC-US</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>SUDOC</classificationID><callNumber>Y
        1.1/8:109-607/ PT.1</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000058166284</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>DOC-US</currentLocationID><homeLocationID>DOC-US</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>ONLINE</libraryID><classificationID>SUDOC</classificationID><callNumber>Y
        1.1/8:109-607/ PT.1</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>3500414-4001</itemID><itemTypeID>ONLINE</itemTypeID><currentLocationID>ONLINE-DSL</currentLocationID><homeLocationID>ONLINE-DSL</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>DSL-CARL</libraryID><classificationID>SUDOC</classificationID><callNumber>Y
        1.1/8:109-607/ PT.1</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>3500414-3001</itemID><itemTypeID>MICROFORM</itemTypeID><currentLocationID>DOCUSMF-DN</currentLocationID><homeLocationID>DOCUSMF-DN</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Thu, 25 May 2023 16:39:39 GMT
recorded_with: VCR 6.1.0
