---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=21322677
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>21322677</titleID><TitleAvailabilityInfo><totalCopiesAvailable>1</totalCopiesAvailable><libraryWithAvailableCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>PATTEE-2</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>LC</classificationID><callNumber>NK1037.I47
        2017</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000079600835</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>PATTEE-2</currentLocationID><homeLocationID>PATTEE-2</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Wed, 07 Apr 2021 18:18:54 GMT
recorded_with: VCR 6.0.0
