---
http_interactions:
- request:
    method: get
    uri: https://sdws08.sirsidynix.net/psu_ilsws/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=21841438
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>21841438</titleID><TitleAvailabilityInfo><totalCopiesAvailable>0</totalCopiesAvailable><totalResvCopiesAvailable>0</totalResvCopiesAvailable><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>LC</classificationID><callNumber>M1500.F654
        op.50 2017 v.1</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000063820454</itemID><itemTypeID>SCORE</itemTypeID><currentLocationID>BINDERY</currentLocationID><homeLocationID>PATTEE-1A</homeLocationID><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>LC</classificationID><callNumber>M1500.F654
        op.50 2017 v.2</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000077937506</itemID><itemTypeID>SCORE</itemTypeID><currentLocationID>BINDERY</currentLocationID><homeLocationID>PATTEE-1A</homeLocationID><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Wed, 07 Apr 2021 18:18:58 GMT
recorded_with: VCR 6.0.0
