---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=1793712
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1793712</titleID><TitleAvailabilityInfo><totalCopiesAvailable>90</totalCopiesAvailable><libraryWithAvailableCopies>Penn
        State Abington</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn
        State Erie</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn State
        Brandywine</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn State
        Harrisburg</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn State
        Greater Allegheny</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn
        State New Kensington</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn
        State York</libraryWithAvailableCopies><libraryWithAvailableCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableCopies><libraryWithAvailableCopies>Withdrawn
        Library</libraryWithAvailableCopies><libraryWithAvailableCopies>Serial Services
        (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>HATHIETAS</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>ABINGTON</libraryID><classificationID>ASIS</classificationID><callNumber>Periodical</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>1793712-6001</itemID><itemTypeID>HATHIETAS</itemTypeID><currentLocationID>HATHIETAS</currentLocationID><homeLocationID>HATHIETAS</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>BEHREND</libraryID><classificationID>ASIS</classificationID><callNumber>Periodical</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>1793712-15001</itemID><itemTypeID>HATHIETAS</itemTypeID><currentLocationID>HATHIETAS</currentLocationID><homeLocationID>HATHIETAS</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>BRANDYWINE</libraryID><cla[...]
