---
http_interactions:
- request:
    method: get
    uri: https://sdws08.sirsidynix.net/psu_ilsws/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=1793712
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1793712</titleID><TitleAvailabilityInfo><totalCopiesAvailable>85</totalCopiesAvailable><libraryWithAvailableCopies>Penn
        State Abington</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn
        State Erie</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn State
        Brandywine</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn State
        Harrisburg</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn State
        Greater Allegheny</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn
        State New Kensington</libraryWithAvailableCopies><libraryWithAvailableCopies>Penn
        State York</libraryWithAvailableCopies><libraryWithAvailableCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableCopies><libraryWithAvailableCopies>Serial
        Services (UP)</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>STACKS-AB</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>ABINGTON</libraryID><classificationID>ASIS</classificationID><callNumber>Periodical</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>1793712-6001</itemID><itemTypeID>PERIODICAL</itemTypeID><currentLocationID>STACKS-AB</currentLocationID><homeLocationID>STACKS-AB</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>BEHREND</libraryID><classificationID>ASIS</classificationID><callNumber>Periodical</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>1793712-15001</itemID><itemTypeID>PERIODICAL</itemTypeID><currentLocationID>PERIOD-BD</currentLocationID><homeLocationID>PERIOD-BD</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>BRANDYWINE</libraryID><cl[...]
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=LCCN:72624579&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {"LCCN:72624579":{"bib_key":"LCCN:72624579","info_url":"https://books.google.com/books?id=JMmxAAAAIAAJ\u0026source=gbs_ViewAPI","preview_url":"https://books.google.com/books?id=JMmxAAAAIAAJ\u0026source=gbs_ViewAPI","thumbnail_url":"https://books.google.com/books/content?id=JMmxAAAAIAAJ\u0026printsec=frontcover\u0026img=1\u0026zoom=5","preview":"noview","embeddable":false,"can_download_pdf":false,"can_download_epub":false,"is_pdf_drm_enabled":false,"is_epub_drm_enabled":false}};
  recorded_at: Fri, 15 Apr 2022 15:08:10 GMT
recorded_with: VCR 6.0.0
