---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=9186426
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>9186426</titleID><TitleAvailabilityInfo><totalCopiesAvailable>0</totalCopiesAvailable><totalResvCopiesAvailable>4</totalResvCopiesAvailable><libraryWithAvailableResvCopies>Pattee
        Library and Paterno Library Stacks (UP)</libraryWithAvailableResvCopies><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>AUTO</classificationID><callNumber>INSTRUCTOR
        COPY - WHITEHEAD</callNumber><numberOfCopies>4</numberOfCopies><ItemInfo><itemID>000071934945</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>RESERVE-PA</currentLocationID><homeLocationID>RESERVE-PA</homeLocationID><chargeable>true</chargeable><reserveCollectionID>RESERVE-PA</reserveCollectionID><reserveCirculationRule>RES-2HRRNW</reserveCirculationRule><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>000071934938</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>RESERVE-PA</currentLocationID><homeLocationID>RESERVE-PA</homeLocationID><chargeable>true</chargeable><reserveCollectionID>RESERVE-PA</reserveCollectionID><reserveCirculationRule>RES-2HRRNW</reserveCirculationRule><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>000071934921</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>RESERVE-PA</currentLocationID><homeLocationID>RESERVE-PA</homeLocationID><chargeable>true</chargeable><reserveCollectionID>RESERVE-PA</reserveCollectionID><reserveCirculationRule>RES-2HRRNW</reserveCirculationRule><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>000071934914</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>RESERVE-PA</currentLocationID><homeLocationID>RESERVE-PA</homeLocationID><chargeable>true</chargeable><reserveCollectionID>RESERVE-PA</reserveCollectionID><reserveCirculationRule>RES-2HRRNW</reserveCirculationRule><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Wed, 14 Apr 2021 18:38:30 GMT
recorded_with: VCR 6.0.0
