.documentHeader {
  color: black;
  background-color: white;
}

.badge-secondary {
  border-radius: 5px;
  color: $psu-dark-blue;
}

.btn-outline-secondary {
  color: black;
}

.documentHeader a{
  color: $psu-blue;
  background-color: inherit;
}

.documentHeader a:hover{
  color: $psu-dark-blue;
}
