<div class="row my-3">
  <div class="col-6">
    <%= render Browse::PageNavigation.new(prev_item: prev_item,
                                          next_item: next_item,
                                          length: params[:length]) %>
  </div>

  <div class="col-6 text-right">
    <%= render Browse::PageSizeSelector.new(params: params) %>
  </div>
</div>
