<button id="<%= target %>Btn"
        class="btn btn-link btn-sm collapsed call-number-toggle-btn"
        type="button"
        data-target="#<%= target %>"
        data-toggle="collapse" role="button"
        aria-expanded="false"
        aria-controls="<%= target %>">
  <i class="fa fa-regular fa-caret-down"></i>
</button>
