<nav class="alpha-filter">
  <ol class="pagination pagination-sm justify-content-center">
    <li class="page-item <%= 'active' if prefix.blank? %>">
      <%= link_to 'All', clear_prefix_path, class: 'page-link' %>
    </li>
    <% ('A'..'Z').to_a.each do |letter| %>
      <li class="page-item <%= 'active' if prefix == letter %>">
        <%= link_to letter, prefix_path(letter), class: 'page-link' %>
      </li>
    <% end %>
  </ol>
</nav>
