.advanced-search-form {
  .submit-buttons {
    margin: 1rem 0;
  }

  .submit-buttons-top {
    float: right;

    @media screen and (max-width: breakpoint-max(md)) {
      display: block;
      float: none;
      margin-bottom: 1rem;
      margin-top: .5rem;
    }
  }
}

// scss-lint:disable SelectorFormat
.select2-search__field {
  line-height: 1.5;
  min-width: 8em;
  width: 8em;
}
// scss-lint:enable SelectorFormat

.text-md-right {
  text-align: right;
}
