// scss-lint:disable QualifyingElement
article.document {
  margin-bottom: $spacer;
  padding-bottom: $spacer;
}
// scss-lint:enable QualifyingElement

.index-default-container {
  @include make-container();

  dd {
    margin-bottom: 4px;
  }
}
