// scss-lint:disable QualifyingElement
article.document {
  margin-bottom: $spacer;
  padding-bottom: $spacer;
}
// scss-lint:enable QualifyingElement

.documents-list .document-metadata {
  padding-left: 0;

  li {
    list-style: none;
  }
}

.documents-list .document {
  position: relative;

  .index-document-functions {
    margin-bottom: .25rem;
  }

  .document-thumbnail {
    margin: 0;
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 4rem;
  }
}

@include media-breakpoint-down(sm) {
  .documents-list .document {
    .document-main-section {
      padding-right: 0;
    }

    .document-thumbnail {
      margin-top: .5rem;
      position: static;
      text-align: left;
    }
  }
}

.document-metadata {
  padding-right: 9.5rem;
}
