footer {
  .site-logo {
    height: 3.25rem;
  }
}

.social-media-links-platforms {
  padding-left: 0;

  li {
    display: inline;
    padding: .2em .35em;
    text-align: center;
  }

  .fab {
    color: $white;
    font-size: xx-large;
  }
}
