// scss-lint:disable PlaceholderInExtend

// Header bar at top (Bootstrap nav-bar)
.topbar > .container {
  @media (max-width: breakpoint-max(xs)) {
    margin-left: 0;
    margin-right: 0;
  }
}

.navbar-brand {
  padding-left: 0;
  padding-right: 0;
 }

.site-title-container {
  flex: 0 0 auto;
}

.site-title {
  border-left: 1px solid $white;
  color: $white;
  font-family: $headings-font-family;
  font-size: 1.6em;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  padding-left: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.navbar-search {
  z-index: 1;

  .search-field {
    // This prevents the widget from being squished so the text overflows
    min-width: 7em;
  }

  .search-query-form {
    @extend .col-md-12;
    @extend .col-lg-8;
    padding-left: 0;
  }

  .submit-search-text {
    // hide 'search' label at very small screens
    @media screen and (max-width: breakpoint-max(xs)) {
      @include sr-only();
    }
  }
}
