.document-metadata {
  padding: 30px 0;
}

.metadata {
  &-availability{

    border-top: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;
  }
  &-secondary {
    ul {
      padding-left: 18px;
    }
  }
}