.pivot-facet .facet-label {
  display: inline;
  padding-left: 0;
  word-break: keep-all;
}

.pivot-facet .pivot-facet {
  padding: 0 0 0 3.5em;
  width: 100%;

  &.collapse.show,
  &.collapsing {
    display: table;
  }
}
