// PSU Libraries Bootstrap overrides
@import 'theme';
@import 'psulib_utilities';

// Twitter bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'twitter_bootstrap_overrides';


// Fonts - see also psulib_blacklight/index.js
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Blacklight upstream
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/mixins';
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/blacklight_defaults';
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/bootstrap_overrides'; // Blacklight bootstrap overrides
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/layout';
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/search_form';
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/search_results';
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/group';
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/balanced_list';
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/pagination';
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/search_history';
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/modal';
@import '~blacklight-frontend/app/assets/stylesheets/blacklight/icons';

// Blacklight-marc overridden
@import 'blacklight_marc';

// Blacklight over-rides
@import 'header';
@import 'facets';
@import 'constraints';

// Local
@import 'metadata';
@import 'announcement';
@import 'footer';
@import 'mobile';
@import 'show_default';
@import 'psulib_icons';
@import 'marc_record_details';
@import 'availability';
@import 'secondary_actions';
@import 'ask_a_librarian';
@import 'callouts';
@import 'catalog_index_default';
