---
http_interactions:
- request:
    method: get
    uri: https://cat.libraries.psu.edu:28443/symwsbc/rest/standard/lookupTitleInfo?clientID=PSUCATALOG&includeAvailabilityInfo=true&includeBoundTogether=true&includeItemInfo=true&titleID=5112336
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>5112336</titleID><TitleAvailabilityInfo><totalCopiesAvailable>0</totalCopiesAvailable><totalResvCopiesAvailable>0</totalResvCopiesAvailable><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>HARRISBURG</libraryID><classificationID>LC</classificationID><callNumber>PZ8.G3295Su
        2008</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000067841677</itemID><itemTypeID>JUVENILEBK</itemTypeID><currentLocationID>DEPTCHARGE</currentLocationID><homeLocationID>JUVENILEHB</homeLocationID><dueDate>2020-05-07T00:00:00.565-04:00</dueDate><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking><staffNote>{GOBI}</staffNote></ItemInfo></CallInfo><CallInfo><libraryID>UP-PAT</libraryID><classificationID>LC</classificationID><callNumber>Fiction
        G4672sun 2008</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000065925379</itemID><itemTypeID>JUVENILEBK</itemTypeID><currentLocationID>ONHOLD-PA</currentLocationID><homeLocationID>JUVENIL-ED</homeLocationID><chargeable>true</chargeable><numberOfHolds>1</numberOfHolds><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><numberOfBoundwithLinks>0</numberOfBoundwithLinks></TitleInfo></LookupTitleInfoResponse>
  recorded_at: Mon, 23 Aug 2021 21:03:27 GMT
- request:
    method: get
    uri: https://books.google.com/books?bibkeys=LCCN:2007030848&jscmd=viewapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: var _GBSBookInfo = {"LCCN:2007030848":{"bib_key":"LCCN:2007030848","info_url":"https://books.google.com/books?id=PSzSAQAAQBAJ\u0026source=gbs_ViewAPI","preview_url":"https://books.google.com/books?id=PSzSAQAAQBAJ\u0026printsec=frontcover\u0026source=gbs_ViewAPI","thumbnail_url":"https://books.google.com/books/content?id=PSzSAQAAQBAJ\u0026printsec=frontcover\u0026img=1\u0026zoom=5\u0026edge=curl","preview":"partial","embeddable":true,"can_download_pdf":false,"can_download_epub":false,"is_pdf_drm_enabled":false,"is_epub_drm_enabled":false}};
  recorded_at: Fri, 15 Apr 2022 15:07:25 GMT
recorded_with: VCR 6.0.0
